[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "3rdparty/openvr"]
	path = 3rdparty/openvr
	url = https://github.com/ValveSoftware/openvr.git
[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/ImGuizmo"]
	path = 3rdparty/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "3rdparty/imGuIZMO.quat"]
	path = 3rdparty/imGuIZMO.quat
	url = https://github.com/BrutPitt/imGuIZMO.quat.git
[submodule "3rdparty/eigen-git-mirror"]
	path = 3rdparty/eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror.git
